/* TOASTS */

.toast{

    position:fixed;

    top:20px;

    right:-400px;

    min-width:300px;

    padding:16px 20px;

    border-radius:12px;

    color:white;

    font-weight:600;

    transition:.4s;

    z-index:9999;

    box-shadow:
    0 10px 25px
    rgba(0,0,0,.3);

}

.toast.show{

    right:20px;

}

.toast.success{

    background:#22C55E;

}

.toast.error{

    background:#EF4444;

}

.toast.warning{

    background:#F59E0B;

}

.toast.hint{

    background:#6C63FF;

}

/* PULSE */

.pulse{

    animation:
    pulseEffect
    1s ease;

}

@keyframes pulseEffect{

    0%{

        transform:
        scale(1);

    }

    50%{

        transform:
        scale(1.08);

    }

    100%{

        transform:
        scale(1);

    }

}

/* SHAKE */

.shake{

    animation:
    shakeEffect
    .8s ease;

}

@keyframes shakeEffect{

    0%{

        transform:
        translateX(0);

    }

    20%{

        transform:
        translateX(-8px);

    }

    40%{

        transform:
        translateX(8px);

    }

    60%{

        transform:
        translateX(-8px);

    }

    80%{

        transform:
        translateX(8px);

    }

    100%{

        transform:
        translateX(0);

    }

}

/* FADE */

.fade-in{

    animation:
    fadeIn
    .5s ease;

}

@keyframes fadeIn{

    from{

        opacity:0;

        transform:
        translateY(20px);

    }

    to{

        opacity:1;

        transform:
        translateY(0);

    }

}

/* SLIDE UP */

.slide-up{

    animation:
    slideUp
    .5s ease;

}

@keyframes slideUp{

    from{

        opacity:0;

        transform:
        translateY(40px);

    }

    to{

        opacity:1;

        transform:
        translateY(0);

    }

}

/* LEVEL COMPLETE */

.level-complete{

    animation:
    successGlow
    1.2s infinite;

}

@keyframes successGlow{

    0%{

        box-shadow:
        0 0 5px
        #22C55E;

    }

    50%{

        box-shadow:
        0 0 25px
        #22C55E;

    }

    100%{

        box-shadow:
        0 0 5px
        #22C55E;

    }

}

/* TIMER WARNING */

.timer-warning{

    animation:
    dangerPulse
    .8s infinite;

}

@keyframes dangerPulse{

    0%{

        color:#EF4444;

        transform:
        scale(1);

    }

    50%{

        color:#ff0000;

        transform:
        scale(1.2);

    }

    100%{

        color:#EF4444;

        transform:
        scale(1);

    }

}